aiobotocore
aiohttp
aiohttp-retry
aioitertools
aiosignal
annotated-types
anyio
async-timeout
attrs
blinker
boto3
botocore
certifi
charset-normalizer
click
distro
exceptiongroup
Flask
flask[async]
frozenlist
google-cloud
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
multidict
numpy
openai
pandas
pydantic
pydantic_core
pydub
PyJWT
python-dateutil
pyttsx3
pytz
requests
s3transfer
six
sniffio
SpeechRecognition
starlette
tenacity
tqdm
twilio
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
yarl
gunicorn
uwsgi